<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>838909142203-meoq7i8mto7jngl2mkdmr8b6d7r7243k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.838909142203-meoq7i8mto7jngl2mkdmr8b6d7r7243k</string>
	<key>API_KEY</key>
	<string>AIzaSyBf4PdiuAta41fBJDBisUzyy43DzVeF1LA</string>
	<key>GCM_SENDER_ID</key>
	<string>838909142203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.flutter.flutter.app</string>
	<key>PROJECT_ID</key>
	<string>tawaqueat-75d2b</string>
	<key>STORAGE_BUCKET</key>
	<string>tawaqueat-75d2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:838909142203:ios:b162c277401c88e199b59e</string>
</dict>
</plist>